@media (min-width: 768px) {
    .button-opened {
        animation: button-animation-opening alternate 0.5s;
    }

    .button-closed {
        animation: button-animation-closing alternate 0.5s;
    }

    .wrapper-opened {
        animation: wrapper-animation-opening alternate 0.5s;
    }

    .wrapper-closed {
        animation: wrapper-animation-closing alternate 0.5s;
    }

}

@keyframes button-animation-opening {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes button-animation-closing {
    0% {
        transform: translateY(0px);
        opacity: 1;
        display: flex;
    }

    100% {
        transform: translateY(40px);
        opacity: 0;
        display: none;
    }
}

@keyframes wrapper-animation-opening {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-24px);
    }
}

@keyframes wrapper-animation-closing {
    0% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(28px);
    }
}