/* animação navbar desktop abrindo  triangulo*/
.triangle-up-opened {
    animation: spin-up-opening 0.3s;
}
/* animação navbar desktop fechando triangulo */
.triangle-down-closed {
    animation: spin-down-closing 0.3s;
}
/* animação offcanvas abrindo */
.triangleOffcanvas-opened {
    animation: OffcanvasSpin-opening 0.3s;
}

.triangleOffcanvas-closed {
    animation: OffcanvasSpin-closing 0.3s;
}

@keyframes spin-down-closing {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(180)
    }
}

@keyframes OffcanvasSpin-opening {
    0% {
        transform: rotate(90deg)
    }

    100% {
        transform: rotate(180)
    }
}

@keyframes OffcanvasSpin-closing {
    0% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(90)
    }
}


@keyframes spin-up-opening {
    0% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(0deg)
    }
}